body{
    font-family: 'Montserrat', Times, serif;
   
}

.figure-img{
    height: 150px;
    object-fit: cover;
    margin: 50px auto 15px auto ;
    
}

.buttons-row {
    margin:25px auto;
}

button{
    width:100%;
    
    
    
}
.Score{
    font-family: 'Bebas Neue',sans-serif;
    font-weight: 200;
    font-size: 40px;
}