body{
    font-family: 'Montserrat', Times, serif;
   
}

 .buttons-sm{
    margin:0 auto;
 }
 img{
    height: 200px;
    width: 200px;
    margin:auto ;
 }
 .custom-container-sm{
    margin:0 auto;
 }
 


@media (min-width: 768px) { 
    .custom-container-sm{
        margin: 15% auto;
    }
    .buttons-sm{
        margin: auto 5%;
    }
    img{
        height: 200px;
        width: 200px;
        margin:auto ;
     }
     .w-50{
        width: 25% !important;
     }
  
}